@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'hagin_caps_mediummedium';
    src: url('../font/hagincapsmedium-medium-webfont.woff2') format('woff2'),
         url('../font/hagincapsmedium-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hagin_caps_thinthin';
    src: url('../font/hagincapsthin-thin-webfont.woff2') format('woff2'),
         url('../font/hagincapsthin-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brauhausbold';
    src: url('../font/brauhaus_bold-webfont.eot');
    src: url('../font/brauhaus_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/brauhaus_bold-webfont.woff2') format('woff2'),
         url('../font/brauhaus_bold-webfont.woff') format('woff'),
         url('../font/brauhaus_bold.ttf') format('truetype'),
         url('../font/brauhaus_bold-webfont.svg#brauhausbold') format('svg');
    font-weight: bold;
    font-style: bold;
}

.oktober-fest {
    max-width: 100% !important;
}
.oktober-fest ul, .oktober-fest li, .oktober-fest a, .oktober-fest h1, .oktober-fest h2, .oktober-fest h3, .oktober-fest h4, .oktober-fest h5, .oktober-fest h6, .oktober-fest p, .oktober-fest span{
		font-family: 'Roboto', sans-serif;
}
.oktober-fest a{
	outline: none !important;
}
.oktober-fest input:-internal-autofill-selected{
	background: transparent !important;
	color: #FFA033 !important;
}
a.section2-next.disabled {
    cursor: not-allowed;
}
.webcam-error {
    width: 840px !important;
    max-width: 100% !important;
    background: #fff;
    padding: 50px 50px;
    position: relative;
    min-height: 300px;
    margin: 0 auto;
}
.fest-section-wrapper {
    width: 1060px !important;
    max-width: 100% !important;
    background: #fff;
    padding:  0;
	position: relative;
	min-height: 300px;
	margin: 0 auto;
}
.oktober-fest .section{
	display: none;
}
.oktober-fest .section.active{
	display: block;
}
.oktober-fest .section1{
	text-align: center;
	padding: 0;
}
.oktober-fest .section1 h1 {
	font-size: 6rem;
	font-family: brauhausbold,Helvetica,Arial,sans-serif !important;
	line-height: 1.1;
	text-transform: uppercase;
	text-shadow: #b73f26 0.03em 0.02em 0;
	margin-bottom: .2em;
}
.oktober-fest a.start-timer, a.start-timer:hover, a.start-timer:focus {
    background: transparent;
    padding: 10px 0;
    display: inline-block;
    width: 250px;
    font-size: 32px;
	outline: none;
	max-width: 100%;
}
.close-fest {
    position: absolute;
    right: 10px;
    top: 0;
	line-height: 1;
	z-index: 1;
}
.close-fest a, .close-fest a:hover, .close-fest a:focus{
	text-decoration: none;
    display: inline-block;
    font-size: 30px;
    outline: none;
    background: url('../img/close.png')no-repeat !important;
    background-size: 100% !important;
    width: 25px;
    height: 25px;
    margin-top: 8px;
}
.section1-right.section1-block{
	display: flex;
    align-items: center;
	justify-content: flex-end;
}
.section1-right.section1-block img {
    width: 260px;
}
.section1-left.section1-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1-left.section1-block img{
	width: 250px;
}
.instruction-wrapper {
    margin: 0;
    background: #FFD8A5;
    padding: 50px;
}
.start-timer {
    font-family: 'hagin_caps_mediummedium' !important;
}
.section2 .block {
    display: inline-block;
}
.section2 .timer-block, .section2 .thumbnail-block {
	text-align: center;
}
ul.fest-instruction {
    margin: 0;
    padding: 20px 0 30px 20px;
	text-align: left;
}
ul.fest-instruction li{
    list-style: none;
	font-size: 13px;
	color: #782E18;
}
.instruction-wrapper h1 {
    color: #782E18;
	margin-bottom: 30px;
}
.instruction-wrapper p {
    color: #782E18;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
}
span.diagonal {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom: 6px solid #782E18;
    position: relative;
    top: -15px;
    margin-right: 5px;
}
span.diagonal1 {
    margin-right: 5px;
}
span.diagonal:after {
    content: '';
    position: absolute;
    left: -4px;
    top: 23px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 6px solid #782E18;
}
.section2-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2 .camera-block.block {
    height: 100%;
    position: relative;
}
span.cam-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100px;
    font-size: 28px;
    font-weight: bold;
}
a.btn-take-photo {
	display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFA033 !important;
    font-size: 11px;
    white-space: pre-wrap;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 23px 6px;
    color: #782E18;
    text-decoration: none !important;
    line-height: 1;
}
a.btn-take-photo:before{
	border-radius: 50%;
}
.btn-take-photo.disabled {
    cursor: not-allowed;
}
.thumbnail-block ul.thumb-list {
    padding: 0;
}
.thumbnail-block ul.thumb-list li {
    list-style: none;
    width: 100px;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 10px;
    vertical-align: top;
}
.thumbnail-block ul.thumb-list li span {
    font-size: 10px;
    line-height: 1;
    display: block;
    padding: 27px 0;
    text-align: center;
    background: #CB644F;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 100%;
}
.acceptance input[type=checkbox]{
    width: 32px;
    height: 18px;
}
.acceptance input[type=checkbox]:after{
    left: 4px;
    top: -1px;
}
.camera-block-inner {
    height: 600px;
    position: relative;
}
a.section2-next, a.section2-next:hover, a.section2-next:focus, 
a.section3-next, a.section3-next:hover, a.section3-next:focus {
    background: transparent;
    display: inline-block;
	text-align: center;
	font-size: 15px;
    font-weight: 600;
}
.fest-form-wrapper .field-group input {
    width: 100%;
}
.timer-clock {
    margin-bottom: 0px;
}
span.timelbl {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    background: #e8c152;
    color: black;
    display: inline-block;
    padding: 10px;
}
span.timelbl1 {
    color: #FFD8A5;
    padding: 0px;
    display: inline-block;
}
.share-btn-container .share-btn:last-child {
    margin-right: 0;
}
.share-btn-container .share-btn {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
	background: transparent !important;
    outline: none !important;
}
a.end-timer, a.end-timer:focus {
    background: #BF422A !important;
    text-decoration: none !important;
    font-size: 12px;
    display: inline-block;
    border-radius: 50%;
    text-transform: uppercase;
	color: #fff;
}
a.end-timer:before{
	border-radius: 50%;
}
.timer-reset-wrapper {
    margin-bottom: 20px;
    margin-top: 5px;
}
a.timer-reset, a.re-take-image {
    font-size: 10px;
    text-transform: uppercase;
	background: transparent !important;
}
.section3-inner {
    display: flex;
	padding: 60px 0 10px;
}
.slider-for {
    margin-bottom: 20px;
}
.section3.section {
    background: #782E18;
}
.oktober-fest .slider-block {
    position: relative;
}
.frame {
	position: absolute;
}
img#frame_img {
    position: relative;
    z-index: 2;
}
.section4.section {
    background: #782E18;
}
#selected_img {
    width: 369px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
	transform: translate(-50%, -50%);
}
img#final_img_frame{
	position: relative;
    width: 372px;
    z-index: 2;
    left: 0;
    top: 0;
}
.final_frame{
	position: relative;
}
span.final-timing {
    position: absolute;
    bottom: 22px;
    z-index: 99;
    font-weight: bold;
    color: #B74026;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}
.slider-nav {
    margin: 0 -5px;
}
.slider-for .slick-arrow {
    z-index: 9999;
}
.slider-nav .slick-itetm {
    padding: 5px;
}
.slider-for .slick-arrow {
    width: 25px;
    height: 40px;
    position: absolute;
	background-size: 80% !important;
	cursor: pointer;
}
.slider-for .slick-prev {
    background: url('../img/left-arrow.png')no-repeat;
}
.slider-for .slick-next {
    background: url('../img/right-arrow.png')no-repeat;
}
.section4-inner {
    display: flex;
}
.final-image-block, .share-block {
    width: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}
.slider-text-block {
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 0 40px;
	text-align: center;
}
p.text1 {
	color: #FFD8A5;
    font-size: 36px;
    line-height: 1.2;
    font-family: 'hagin_caps_mediummedium' !important;
    text-transform: uppercase;
	margin-bottom: 50px;
    padding: 0 80px;
}
.oktober-fest .share-block {
    text-align: center;
}
.oktober-fest ul.share-list {
    padding: 0;
	margin-top: 30px;
}
.oktober-fest li.share-item {
    list-style: none;
	margin-bottom: 10px;
}
.oktober-fest li.share-item a, .oktober-fest li.share-item a:focus {
    font-size: 13px;
    background: transparent !important;
    padding: 15px 0;
    width: 200px;
    display: inline-block;
    text-transform: uppercase;
    color: #782E18;
    font-weight: bold;
}
.fest-mail-popup, .fest-share-popup {
    width: 400px;
    background: #782E18;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
	position: relative;
	max-width: 100%;
}
.timer-reset {
    color: #FFA033;
}
.fbtn2{
	position: relative;
    border: 2px solid #D49A89;
    z-index: 2;
	color: #782E18;
    text-decoration: none;
	text-transform: uppercase;
}
.fbtn2:before {
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    left: 4px;
    bottom: 4px;
    background-color: #D49A89;
    z-index: -1;
}
.fbtn{
	position: relative;
    border: 2px solid #FFA033;
    z-index: 2;
	color: #782E18;
    text-decoration: none;
	text-transform: uppercase;
}
.fbtn:before {
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    left: 4px;
    bottom: 4px;
    background-color: #FFA033;
    z-index: -1;
}
.fbtn.disabled{
	border: 2px solid #D49A89;
}
.fbtn.disabled:before{
	background-color: #D49A89;
}

.close-fest-popup a, .close-fest-popup a:hover, .close-fest-popup a:focus{
	text-decoration: none;
    display: inline-block;
    font-size: 30px;
    outline: none;
    background: url('../img/close.png')no-repeat !important;
    background-size: 100% !important;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 5px;
}
.oktober-fest p.text2 {
    color: #FFD8A5;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'hagin_caps_mediummedium' !important;
    text-transform: uppercase;
}
.oktober-fest a.popup-btn {
    background: transparent;
    padding: 7px 0;
    display: inline-block;
    color: #782E18;
    width: 130px;
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
    font-weight: 600;
}
.slider-text-block select.frame-select {
    width: 100%;
    border-width: 0 0 2px 0;
	color: #FFA033;
    padding: 0px;
    width: 100%;
    border-color: #FFA033 !important;
    font-size: 15px;
	background: transparent;
}
.slider-text-block select.frame-select:focus{
	outline: none;
}
.oktober-fest ul.mail-list {
    margin: 0;
    padding: 0;
}
.oktober-fest ul.mail-list li{
	list-style: none;
	text-align: left;
	margin-bottom: 7px;
}
.oktober-fest .mail-item input[type="text"], form#fest_form input[type="email"], form#fest_form input[type="text"] {
    border-width: 0 0 2px 0;
	color: #FFA033;
    padding: 0px;
	width: 100%;
	border-color: #FFA033 !important;
	font-size: 15px;
	background: transparent;
}
form#fest_form input[type="checkbox"] {
    border-width: 2px;
	color: #FFA033;
    padding: 0px;
	border-color: #FFA033 !important;
	font-size: 15px;
	background: transparent;
}
.oktober-fest input[type=checkbox]:after {
    border-color: #FFA033 !important;
}
form#fest_form .field-group.acceptance .acceptance-terms-cond{
    display: flex;
}
.oktober-fest .field-group.acceptance {
    margin-top: 10px !important;
}
.field-group.acceptance label {
    display: inline;
    line-height: 1;
    vertical-align: middle;
}
.oktober-fest .mail-item input[type="text"]::-webkit-input-placeholder, form#fest_form input::-webkit-input-placeholder { 
  color: #FFA033;
}
.oktober-fest .mail-item input[type="text"]:-ms-input-placeholder, form#fest_form input:-ms-input-placeholder { 
  color: #FFA033;
}
.oktober-fest .mail-item input[type="text"]::placeholder, form#fest_form input::placeholder {
  color: #FFA033;
}
.oktober-fest .mail-item input[type="text"]:focus, form#fest_form input:focus{
	outline: none !important;
}
a.re-take-image {
    color: #FFA033;
}
.add-email-wrapper {
    text-align: left;
}
a.add-email {
    border: 2px solid #DBDBDB;
    color: #DBDBDB;
    border-radius: 50%;
    padding: 2px 6px 3px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.camera-block-inner video, .camera-block-inner {
    max-width: 100% !important;
	height: auto;
    margin: 0 auto;
    display: block;
}
.camera-block-inner video{
    display: table;
    object-fit: fill;
    box-sizing: border-box;
}
form#fest_form {
    width: 100%;
}
form#fest_form .field-group {
    margin-top: 10px;
	text-align: left;
}
.oktober-fest span.error {
    color: #f00;
    font-size: 10px;
    display: block;
}
.email-btn-wrappre a.popup-btn {
    width: 100px;
}
.oktober-fest .spinner.center {
    margin: 0 auto;
}
.oktober-fest .hide{
	display: none !important;
}
.oktober-fest label {
    color: #FFA033;
	font-family: 'Roboto', sans-serif;
	font-size: 13px !important;
}
span.success-msg {
    color: #3ec83e;
    font-size: 13px;
}
.slick-arrow.slick-disabled {
    display: none !important;
}
.section2.section{
	position: relative;
	background-color: #BF422A;
    background-image: linear-gradient(118deg, #BF422A 50%, #782E18 50%);
    background-image: -webkit-linear-gradient(118deg, #BF422A 50%, #782E18 50%);
}
.spinner {
    height: 40px;
    line-height: 40px;
    width: 150px;
    padding: 3px 0;
}
.spinner .bounce1 {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s;
}
.spinner .bounce3 {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s;
}
.spinner .bounce4 {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s;
}
.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #FF9F32;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    margin: 0 3px;
}
/* .section3-next.fbtn.disabled{
    pointer-events: none;
} */
@-webkit-keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0) } 40% { -webkit-transform: scale(1.0) } }
@keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1.0); transform: scale(1.0); } }

a.section2-next.fbtn:hover:before, a.section3-next.fbtn:hover:before, .fbtn:hover:before{
    background-color: #FFFFFF !important;
}

@media screen and (min-width: 768px){
	.mobile_view{
		display: none !important;
	}
	.desktop_view{
		display: block;
	}
	.section2-inner {
		padding: 50px 10px 0;
	}
	.section2 .timer-block, .section2 .thumbnail-block {
		width: 20%;
		text-align: center;
	}
	span.timelbl1 {
		font-size: 36px;
	}
	a.end-timer {
		width: 70px;
		height: 70px;
		padding: 25px 0px;
	}
	.section2 .camera-block.block {
		width: 53%;
	}
	a.btn-take-photo {
		bottom: 30px;
	}
	.section3-inner .block {
		width: 50%;
	}
	.section3-inner {
        flex-direction: row-reverse;
	}
	.slider-block.block {
		padding: 0 40px;
		margin-left: 20px;
	}
	.slider-for .slick-prev {
		left: -30px;
		top: 50%;
	}
	.slider-for .slick-next {
		right: -35px;
		top: 50%;
	}
	.section3-btn-container, .section2-btn-container {
		text-align: right;
		padding-bottom: 50px;
		padding-right: 60px;
		margin-top: 25px;
	}
	a.section2-next, a.section2-next:hover, a.section2-next:focus, 
	a.section3-next, a.section3-next:hover, a.section3-next:focus {
		width: 180px;
		padding: 12px 0;
	}
	.section4-inner {
		padding: 50px;
	}
	.oktober-fest .share-block {
		padding-left: 50px;
	}
	.retake-container {
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.slider-text-block {
		flex-direction: column;
	}
	.section2 .thumbnail-block {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	img#frame_img {
		left: 0px;
		top: 0px;
		vertical-align: top;
        width: 450px;
        height: 562px;
	}
	.section1-inner{
		display: flex;
		background: url('../img/section1-bg.jpg')no-repeat;
		padding: 80px 0;
	}
	.section1-block {
		width: 33.333%;
	}
	.frame {
		width: calc(100% - 80px);
        background: #782E18;
	}
	.final_frame span.final-timing {
		bottom: 14px;
	}
}

@media screen and (max-width: 767px){
	.mobile_view{
		display: block;
	}
	.desktop_view{
		display: none !important;
	}
	.section2-inner {
		flex-direction: column;
	}
	.section2 .timer-block, 
	.section2 .thumbnail-block, 
	.section .camera-block{
		width: 100%;
	}
	span.timelbl1 {
		font-size: 37px;
	}
	.oktober-fest .section1 h1{
		font-size: 5rem;
	}
	.timer-reset-wrapper {
		margin-bottom: 40px;
		margin-top: 0;
		line-height: 1;
	}
	a.end-timer {
		width: 80px;
		height: 80px;
		padding: 31px 0px;
		margin-bottom: 30px;
	}
	.thumbnail-block ul.thumb-list li {
		display: inline-block;
	}
	.thumbnail-block ul.thumb-list {
		margin-top: 90px;
	}
	a.btn-take-photo {
		bottom: -30px;
		border: 2px solid #ccc;
	}
	.section2.section{
		padding: 30px 0; 
	}
	.section3.section {
		padding-bottom: 30px;
	}
	.oktober-fest ul.share-list li.share-item:last-child {
		margin-bottom: 0;
	}
	.section4.section {
		padding-bottom: 30px;
	}
	.section3-inner .block {
		width: 100%;
		width: 100%;
		flex-direction: column;
	}
	.section3-inner {
		flex-direction: column;
	}
	.slider-block.block {
		padding: 0 0px;
		margin-top: 70px;
	}
	.slider-for .slick-prev {
		left: 30px;
		top: -50px;
	}
	.slider-for .slick-next {
		right: 30px;
		top: -50px;
	}
	.section3-btn-container {
		padding-bottom: 0px;
		padding-right: 0px;
		margin-top: 25px;
	}
	a.section2-next, a.section2-next:hover, a.section2-next:focus, 
	a.section3-next, a.section3-next:hover, a.section3-next:focus {
		width: 100%;
		padding: 15px 0;
	}
	.slider-nav {
		padding: 50px 50px 20px;
	}
	.section4-inner {
		padding: 0px;
		flex-direction: column;
		align-items: center;
	}
	.final-image-block, .share-block{
		width: 100%;
		max-width: 372px;
	}
	ul.share-list {
		width: 100%;
		padding: 0 50px !important;
	}
	.oktober-fest li.share-item a, .oktober-fest li.share-item a:focus {
		width: 100%;
		font-weight: bold;
	}
	p.text1.mobile_view {
		margin: 50px;
		text-align: center;
	}
	img#frame_img {
		left: 0;
		top: 0;
	}
	.section1-inner{
		display: flex;
		background: url('../img/section1-mobile-bg.jpg')no-repeat;
		padding: 97% 15px 15px 15px;
		background-size: 100%;
	}
	.instruction-wrapper {
		margin: 0 auto;
		width: 100%;
	}
	p.text1{
		padding: 0 !important;
	}
	span.final-timing {
		bottom: 7px;
	}
    .acceptance input[type=checkbox]{
        width: 28px;
    }
    .camera-block-inner video, .camera-block-inner{
        width: 320px !important;        
        height: 400px !important;
    }
    .oktober-fest .camera-block-inner video{
        position: absolute;
        left: 0;
        top: 0;
        display: table;
        object-fit: fill;
        box-sizing: border-box;
    }
    .entry-content img{
        margin: 0 auto;
    }
    .slider-block.block{
        position: relative;
    }
    .frame{
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        width: 320px;
        height: 400px;
    }
    .slick-slide img.user-no-image{
        width: 320px;
        height: 400px;
    }
    .slick-itetm.slick-slide img.user-no-image{
        width: 100%;
        height: auto;
    }
    img#final_img_frame{
        width: 320px;
        height: 400px;
    }
    #selected_img{
        width: 320px;
        height: 400px;
    }
}