.backend { 
	margin: 41px -20px 25px -22px !important; 
}
h1.backend, h1.backend2 { 
	font-family: Segoe UI,Arial,sans-serif; 
	font-size: 22px; 
	line-height: 34px; 
	font-weight: 400;  
	color: #fff; 
	background-color: #72777C; 
	padding: 10px 20px; 
}
h1.backend > span, h1.backend2 > span {
	display: inline-block; 
	padding: 0 20px 0 0; 
	position: relative; 
	vertical-align: sub; 
	font-size: 28px; 
	top: 1px; 
}
th.heading { 
	padding: 12px 25px; 
	color: #FFF; 
	background: #72777C; 
}
tr:nth-child(odd) td {
    background: #ccc;
}
td { 
	padding: 10px 5px 10px 5px; 
	text-align: left;  
}
table.submission-list {
    width: 100%;
    text-align: center;
}
.btn-delete{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../img/delete.png') no-repeat;
	background-size: 100%;
}
td.fest-action {
    text-align: center;
    width: 50px;
}
td.fest-img {
    width: 100px;
    text-align: center;
}
td.fest-time {
    width: 100px;
    text-align: center;
}
td.fest-phone {
    width: 150px;
    text-align: center;
}
td.fest-no {
    width: 50px;
    text-align: center;
    font-weight: bold;
}

.tablenav .tablenav-pages {
    float: none;
    margin: 0 0 9px;
}
.fest_submissions .tablenav {
    height: auto !important;
    display: inline-block;
    text-align: center;
}
.fest_submissions a.page-numbers {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    background: #ccc;
}
.fest_submissions span.page-numbers.current {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    background: #000;
    color: #fff;
}